.container {
    	width: 400px;
    	height: 200px;
    	margin: 300px auto;
    }

    .slide {
    	width: 400px;
    	height: 200px;
        overflow: hidden;
        position: relative;
        border-radius: 5px;
        box-shadow: 4px 0 15px -3px rgba(0,0,0,0.53);
    }

    .slide img {
    	display:block;
        width:100%;
        max-width:100%;
        height:auto;
        cursor: pointer;
    }
    
    .slide:before {
        content: '→';
        position: absolute;
        top: 75px;
        right: 5px;
        font-size: 25pt;
        opacity: 0.2;
    }

    .slide:hover:before {
        opacity: 1;
    }